body {
  font-family: Arial, sans-serif;
}
.hidden {
  display: none;
}
hr {
  width: 80%;
  margin: 10px auto;
}
label {
  margin-bottom: 4px;
}
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
